<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{title}}</title>
        <description>{{description}}</description>
        <link>{{link}}</link>

        {{#each items}}
        <item>
            <guid>{{guid}}</guid>
            <title>{{title}}</title>
            <description>{{description}}</description>
            <link>{{link}}</link>
            <pubDate>{{published}}</pubDate>
        </item>
        {{/each}}
    </channel>
</rss> 
